<!DOCTYPE html>
<html>
<head>
    <!-- Head content here -->
</head>
<body>
    <div>
        <ul>
            <li><a asp-action="Login">Login</a></li>
            <li><a asp-action="Dashboard">Dashboard</a></li>
        </ul>
    </div>

    <div>
        @RenderBody()
    </div>
</body>
</html>